<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col-md-6 justify-content-center text-center">
      <img src="\assets\contact.jpg" class="img-fluid w-75" alt="">
    </div>
    <div class="col-md-6 justify-content-center">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="">
        <div class="mx-5">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="name" class="form-control" id="exampleFormControlInput1" formControlName="name"
              placeholder="Enter your Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="email"
              placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea type="message" class="form-control" id="exampleFormControlTextarea1" rows="3"
              formControlName="message" placeholder="Enter your message."></textarea>
          </div>
          <div class="mb-3">
            <button class="learn-more l-btn">
              <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
              </span>
              <span class="button-text">Submit</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>