<form [formGroup]="contactForm" (ngSubmit) = "onSubmit()">
<div class="mx-auto col-10 col-md-8 col-lg-6">
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Name</label>
    <input type="name" class="form-control" id="exampleFormControlInput1" formControlName = "name" placeholder="Enter your Name">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" formControlName = "email" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
    <textarea type = "message" class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName = "message"  placeholder="Enter your message."></textarea>
  </div>
  <div class="mb-3">
    <input type="submit">
  </div>
</div >
</form>
