<!-- <div class="container d-none">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          aria-current="page"
          routerLink="/home"
          routerLinkActive="active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/about"
          routerLinkActive="active"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/project"
          routerLinkActive="active"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link"
          routerLink="/contact"
          routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </header>
</div> -->
<!-- header -->
<header class="">
  <nav class="navbar navbar-expand-lg bg-white p-head ">
    <div class="container-fluid mx-md-5 mx-2">
      <!-- logo -->
      <a class="navbar-brand" href="#"><img src="assets/1logo.png" alt="" class="img-fluid p-logo" /></a>
      <!-- toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- nav-links -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="nav nav-pills nav-fill gap-3 p-1 rounded-5" id="pillNav2" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="true" routerLink="/home">
              Home
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false" routerLink="/about">
              About
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false" routerLink="/about">
              Project
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab"
              aria-selected="false" routerLink="/contact">
              Contact
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>