<div class="container">
  <footer class="footer fixed-bottom py-2 bg-light">
    <p class="text-start text-black mx-5 mb-0">&copy; {{Name}}. All rights reserved.</p>
    <!-- <ul class="nav col-md-10 mx-5 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="text-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="text-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
    </ul> -->
  </footer>
</div>


