<!-- <div class="container">
  <footer class="footer fixed-bottom py-2 bg-light">
    <p class="text-start text-black mx-5 mb-0">&copy; {{Name}}. All rights reserved.</p>
  </footer>
</div> -->

<footer class="bg-white d-flex flex-wrap  align-items-center py-2 fixed-bottom d-none">
  <div class="col-md-4 d-flex align-items-center">
    <a href="#" class="ms-5 me-2 ps-1 mb-md-0 text-center lh-1">
      <img src="assets/1logo.png" class="p-logo" alt width="30" />
    </a>
    <span class="mb-md-0">Created with <i class="text-danger fa-solid fa-heart"></i> by Richa</span>
  </div>

  <ul class="nav col-md-4  list-unstyled d-flex me-5">
    <li class="px-3 text-center">
      <a class="social" href="#">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li class="px-3 text-center">
      <a class="social" href="#">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li class="px-3 text-center">
      <a class="social" href="#">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </li>
  </ul>
</footer>


<footer class="align-items-center bg-white py-2 fixed-bottom">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="justify-content-center justify-content-md-start d-flex">
        <a href="#" class="ms-0 ms-md-5 me-md-2 me-0 ps-md-4  ps-0 mb-md-0 mb-3 text-center lh-1">
          <img src="assets/1logo.png" class="p-logo" alt width="30" />
        </a>
        <span class="mb-md-0">Created with <i class="text-danger fa-solid fa-heart"></i> by Richa</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center justify-content-md-end me-md-5 me-0">
        <div class="text-center soc">
          <a class="social" href="#">
            <i class="fa-brands fa-linkedin flip"></i>
          </a>
        </div>
        <div class="text-center soc">
          <a class="social" href="#">
            <i class="fa-brands fa-github flip"></i>
          </a>
        </div>
        <div class="text-center soc">
          <a class="social" href="#">
            <i class="fa-brands fa-instagram flip"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>